.registerForm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 6px;
  margin: 100px auto;
}

.registerForm:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.registerButton {
  margin: auto;
  background-color: #845ec2;
  border: none;
  border-radius: 6px;
  color: #fcf8ff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  margin-top: 20px;
  cursor: pointer;
}

.registerButton:hover {
  /* box-shadow: 0 8px 16px 0 #6d4da1; */
  background-color: #6d4da1;
}
